<%= form_for @house do |f| %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.text_field :address, placeholder: 'Address' %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= f.number_field :price, placeholder: 'Price' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.text_area :description, placeholder: 'Description', rows: 10 %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 offset-md-10 col-md-2">
      <%= f.submit 'Put it on sale!', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
